html
 head
 link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css")
 link(rel="stylesheet",href="/styles/custom.css")
 body
  nav.navbar.navbar-expand-lg.navbar-light.bg-light
    a.navbar-brand(href='#') Nodejs
    button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNav', aria-controls='navbarNav', aria-expanded='false', aria-label='Toggle navigation')
     span.navbar-toggler-icon
    #navbarNav.collapse.navbar-collapse
     ul.navbar-nav
       li.nav-item.active
         a.nav-link(href='#') Home
       li.nav-item
         a.nav-link(href='/users') User
       li.nav-item
         a.nav-link(href='/products') Products
       li.nav-item
         a.nav-link(href='/cart') Cart
       li.nav-item
         a.nav-link(href='/transfer/create') Transfer
    if user
     .br 
     p= user.name 
     img(src=user.avatar,width="32")
  .container.-pt5       
    block content